#post {
  .post-title {
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    margin-bottom: 1.5em;
    padding-top: 5rem;
  }

  .paragraph {
    width: 80%;
    font-size: 1.2em;
    margin: auto;
    padding: 1.5em 0;
    p {
      margin: 1.5em 0;
      a {
        color: $base-link-color;
        &.visited {
          color: $link-visited-color;
        }
      }
    }
    pre {
      background-color: $base-bg-color-light;
    }
  }
}
