@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

html:not(.dark) .astro-code,
html:not(.dark) .astro-code span {
  color: var(--shiki-light) !important;
  background-color: #f6f8fa;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}
