h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  color: $base-text;
  line-height: 1.6em;
}
h1,
.h1 {
  font-size: rem(36);

  &.page-title {
    font-size: rem(40);
  }
}
h2,
.h2 {
  font-size: rem(26);
  text-decoration: underline;
  font-weight: bold;
}
h3,
.h3 {
  font-size: rem(24);
}
h4,
.h4 {
  font-size: rem(22);
}
h5,
.h5 {
  font-size: rem(20);
}
h6,
.h6 {
  font-size: rem(20);
}
.subtitle-1 {
  font-size: $base-font-size !important;
  line-height: $base-line-height;
  font-family: $main-font;
}
