@use 'sass:list';
@use 'sass:math';

//Helpers
@import './helpers/variables';
@import './helpers/mixins';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
//Base
@import './base/reset';
@import './base/typography';

// Layout
@import './layout/sidebar';
@import './layout/main';

// Components
@import './layout/aboutMe';
@import './components/card';
@import './components/loader';

html,
body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $main-font;
  color: $base-text;
  height: 100%;
  background: $base-bg-color;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20em);
  justify-content: center;
}
